<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (accountGroup) {
      <div>
        <h2 data-cy="accountGroupDetailsHeading"><span jhiTranslate="myaccount3App.accountGroup.detail.title">Account Group</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ accountGroup.id }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.accountGroup.groupName">Group Name</span></dt>
          <dd>
            <span>{{ accountGroup.groupName }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.accountGroup.defaultActive">Default Active</span></dt>
          <dd>
            <span>{{ accountGroup.defaultActive }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.accountGroup.account">Account</span></dt>
          <dd>
            @if (accountGroup.account) {
              <div>
                <a [routerLink]="['/application-user', accountGroup.account.id, 'view']">{{ accountGroup.account.nickName }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="myaccount3App.accountGroup.bankAccount">Bank Account</span></dt>
          <dd>
            @for (bankAccount of accountGroup.bankAccounts; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/bank-account', bankAccount.id, 'view']">{{ bankAccount.accountName }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/account-group', accountGroup.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
