<ng-container *ngIf="withArchived || !bankAccount!.archived">
  <td [class]="bankAccount!.archived ? 'text-decoration-line-through' : ''">
    <a *ngIf="bankAccount!.accountType === 'CURRENTACCOUNT'" [routerLink]="['/mya/mya-bank-account', bankAccount!.id, 'current-detail']">
      <span class="fw-bold">{{ bankAccount!.accountName }}</span>
      <span *ngIf="bankAccount!.shortName" class="fst-italic">({{ bankAccount!.shortName }})</span>
    </a>
    <a *ngIf="bankAccount!.accountType === 'SAVINGSACCOUNT'" [routerLink]="['/mya/mya-bank-account', bankAccount!.id, 'savings-detail']">
      <span class="fw-bold">{{ bankAccount!.accountName }}</span>
      <span *ngIf="bankAccount!.shortName" class="fst-italic">({{ bankAccount!.shortName }})</span>
    </a>
    <a *ngIf="bankAccount!.accountType === 'STOCKPORTFOLIO'" [routerLink]="['/mya/mya-bank-account', bankAccount!.id, 'portfolio-detail']">
      <span class="fw-bold">{{ bankAccount!.accountName }}</span>
      <span *ngIf="bankAccount!.shortName" class="fst-italic">({{ bankAccount!.shortName }})</span>
    </a>
    <a *ngIf="bankAccount!.accountType === 'REAL_ESTATE'" [routerLink]="['/mya/mya-bank-account', bankAccount!.id, 'real-estate-detail']">
      <span class="fw-bold">{{ bankAccount!.accountName }}</span>
      <span *ngIf="bankAccount!.shortName" class="fst-italic">({{ bankAccount!.shortName }})</span>
    </a>
  </td>

  <td [class]="bankAccount!.archived ? 'text-decoration-line-through' : ''">
    {{ bankAccount!.accountBank }}
  </td>

  <td class="text-end" [class]="bankAccount!.archived ? 'text-decoration-line-through' : ''">
    {{ bankAccount!.initialAmount | currency: 'EUR' }}
  </td>

  <td class="text-end" [class]="bankAccount!.archived ? 'text-decoration-line-through' : ''">
    {{ sumOfOperationAmount | currency: 'EUR' }}
  </td>
  <td
    class="text-end"
    [class]="
      totalAmount < 0
        ? bankAccount!.archived
          ? 'text-decoration-line-through text-danger'
          : 'text-danger'
        : bankAccount!.archived
          ? 'text-decoration-line-through'
          : ''
    "
  >
    {{ totalAmount | currency: 'EUR' }}
  </td>
  <td>
    <button
      *ngIf="bankAccount!.accountType !== 'STOCKPORTFOLIO' && bankAccount!.accountType !== 'REAL_ESTATE'"
      type="submit"
      (click)="balanceupdate()"
      class="btn btn-info btn-sm"
    >
      <fa-icon icon="scale-unbalanced-flip"></fa-icon>
    </button>
  </td>
</ng-container>
