<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-real-estate-item-heading"
        data-cy="RealEstateItemCreateUpdateHeading"
        jhiTranslate="myaccount3App.realEstateItem.home.createOrEditLabel"
      >
        Créer ou éditer un Real Estate Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myaccount3App.realEstateItem.loanValue" for="field_loanValue">Loan Value</label>
          <input type="number" class="form-control" name="loanValue" id="field_loanValue" data-cy="loanValue" formControlName="loanValue" />
          @if (editForm.get('loanValue')!.invalid && (editForm.get('loanValue')!.dirty || editForm.get('loanValue')!.touched)) {
            <div>
              @if (editForm.get('loanValue')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('loanValue')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }"
                  >Ce champ doit être supérieur à 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('loanValue')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myaccount3App.realEstateItem.totalValue" for="field_totalValue">Total Value</label>
          <input
            type="number"
            class="form-control"
            name="totalValue"
            id="field_totalValue"
            data-cy="totalValue"
            formControlName="totalValue"
          />
          @if (editForm.get('totalValue')!.invalid && (editForm.get('totalValue')!.dirty || editForm.get('totalValue')!.touched)) {
            <div>
              @if (editForm.get('totalValue')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('totalValue')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }"
                  >Ce champ doit être supérieur à 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('totalValue')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myaccount3App.realEstateItem.percentOwned" for="field_percentOwned">Percent Owned</label>
          <input
            type="number"
            class="form-control"
            name="percentOwned"
            id="field_percentOwned"
            data-cy="percentOwned"
            formControlName="percentOwned"
          />
          @if (editForm.get('percentOwned')!.invalid && (editForm.get('percentOwned')!.dirty || editForm.get('percentOwned')!.touched)) {
            <div>
              @if (editForm.get('percentOwned')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('percentOwned')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }"
                  >Ce champ doit être supérieur à 0.</small
                >
              }
              @if (editForm.get('percentOwned')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: 100 }"
                  >Ce champ doit être inférieur à 100.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('percentOwned')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myaccount3App.realEstateItem.itemDate" for="field_itemDate">Item Date</label>
          <div class="input-group">
            <input
              id="field_itemDate"
              data-cy="itemDate"
              type="text"
              class="form-control"
              name="itemDate"
              ngbDatepicker
              #itemDateDp="ngbDatepicker"
              formControlName="itemDate"
            />
            <button type="button" class="btn btn-secondary" (click)="itemDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('itemDate')!.invalid && (editForm.get('itemDate')!.dirty || editForm.get('itemDate')!.touched)) {
            <div>
              @if (editForm.get('itemDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myaccount3App.realEstateItem.bankAccount" for="field_bankAccount">Bank Account</label>
          <select
            class="form-control"
            id="field_bankAccount"
            data-cy="bankAccount"
            name="bankAccount"
            formControlName="bankAccount"
            [compareWith]="compareBankAccount"
          >
            @if (editForm.get(['bankAccount'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (bankAccountOption of bankAccountsSharedCollection; track $index) {
              <option [ngValue]="bankAccountOption">{{ bankAccountOption.accountName }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['bankAccount'])!.invalid && (editForm.get(['bankAccount'])!.dirty || editForm.get(['bankAccount'])!.touched)) {
          <div>
            @if (editForm.get(['bankAccount'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
