<form *ngIf="budgetItemPeriod" name="deleteForm" (ngSubmit)="confirmDelete(budgetItemPeriod.id!)">
  <div class="modal-header">
    <h3 class="modal-title" data-cy="budgetItemPeriodDeleteDialogHeading" jhiTranslate="mya.entity.budgetItemPeriod.dialog.delete.title">
      Confirmation de suppression
    </h3>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <p id="jhi-delete-budgetItemPeriod-heading" jhiTranslate="mya.entity.budgetItemPeriod.dialog.delete.question">
      Êtes-vous certain de vouloir supprimer le Budget Item Period {{ budgetItemPeriod.id }} ?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
    </button>

    <button id="jhi-confirm-delete-budgetItemPeriod" type="button" class="btn btn-danger" (click)="confirmDelete(budgetItemPeriod.id!)">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Supprimer</span>
    </button>
  </div>
</form>
