<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (applicationUser) {
      <div>
        <h2 data-cy="applicationUserDetailsHeading">
          <span jhiTranslate="myaccount3App.applicationUser.detail.title">Application User</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ applicationUser.id }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.applicationUser.nickName">Nick Name</span></dt>
          <dd>
            <span>{{ applicationUser.nickName }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.applicationUser.user">User</span></dt>
          <dd>
            <span>{{ applicationUser.user?.login }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/application-user', applicationUser.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
