<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (category) {
      <div>
        <h2 data-cy="categoryDetailsHeading"><span jhiTranslate="myaccount3App.category.detail.title">Category</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ category.id }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.category.categoryName">Category Name</span></dt>
          <dd>
            <span>{{ category.categoryName }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.category.categoryType">Category Type</span></dt>
          <dd>
            <span jhiTranslate="{{ 'myaccount3App.CategoryType.' + category.categoryType }}">{{ category.categoryType }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/category', category.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
