<div>
  <h2 id="page-heading" data-cy="RealEstateItemHeading">
    <span jhiTranslate="myaccount3App.realEstateItem.home.title">RealEstateItems</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myaccount3App.realEstateItem.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-real-estate-item"
        [routerLink]="['/real-estate-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="myaccount3App.realEstateItem.home.createLabel">Créer un nouveau Real Estate Item</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="myaccount3App.realEstateItem.home.search"
          >Recherche pour Real Estate Item</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'myaccount3App.realEstateItem.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (realEstateItems?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="myaccount3App.realEstateItem.home.notFound">Aucun Real Estate Item trouvé</span>
    </div>
  }

  @if (realEstateItems && realEstateItems.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="loanValue">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.realEstateItem.loanValue">Loan Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalValue">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.realEstateItem.totalValue">Total Value</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="percentOwned">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.realEstateItem.percentOwned">Percent Owned</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="itemDate">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.realEstateItem.itemDate">Item Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bankAccount.accountName">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.realEstateItem.bankAccount">Bank Account</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (realEstateItem of realEstateItems; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/real-estate-item', realEstateItem.id, 'view']">{{ realEstateItem.id }}</a>
              </td>
              <td>{{ realEstateItem.loanValue }}</td>
              <td>{{ realEstateItem.totalValue }}</td>
              <td>{{ realEstateItem.percentOwned }}</td>
              <td>{{ realEstateItem.itemDate | formatMediumDate }}</td>
              <td>
                @if (realEstateItem.bankAccount) {
                  <div>
                    <a [routerLink]="['/bank-account', realEstateItem.bankAccount.id, 'view']">{{
                      realEstateItem.bankAccount.accountName
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/real-estate-item', realEstateItem.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/real-estate-item', realEstateItem.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(realEstateItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (realEstateItems && realEstateItems.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
