<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-stock-market-data-heading"
        data-cy="StockMarketDataCreateUpdateHeading"
        jhiTranslate="myaccount3App.stockMarketData.home.createOrEditLabel"
      >
        Créer ou éditer un Stock Market Data
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myaccount3App.stockMarketData.symbol" for="field_symbol">Symbol</label>
          <input type="text" class="form-control" name="symbol" id="field_symbol" data-cy="symbol" formControlName="symbol" />
          @if (editForm.get('symbol')!.invalid && (editForm.get('symbol')!.dirty || editForm.get('symbol')!.touched)) {
            <div>
              @if (editForm.get('symbol')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('symbol')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }"
                  >Ce champ doit faire au minimum 2 caractères.</small
                >
              }
              @if (editForm.get('symbol')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }"
                  >Ce champ doit faire moins de 10 caractères.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myaccount3App.stockMarketData.dataDate" for="field_dataDate">Data Date</label>
          <div class="input-group">
            <input
              id="field_dataDate"
              data-cy="dataDate"
              type="text"
              class="form-control"
              name="dataDate"
              ngbDatepicker
              #dataDateDp="ngbDatepicker"
              formControlName="dataDate"
            />
            <button type="button" class="btn btn-secondary" (click)="dataDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('dataDate')!.invalid && (editForm.get('dataDate')!.dirty || editForm.get('dataDate')!.touched)) {
            <div>
              @if (editForm.get('dataDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="myaccount3App.stockMarketData.closeValue" for="field_closeValue">Close Value</label>
          <input
            type="number"
            class="form-control"
            name="closeValue"
            id="field_closeValue"
            data-cy="closeValue"
            formControlName="closeValue"
          />
          @if (editForm.get('closeValue')!.invalid && (editForm.get('closeValue')!.dirty || editForm.get('closeValue')!.touched)) {
            <div>
              @if (editForm.get('closeValue')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('closeValue')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }"
                  >Ce champ doit être supérieur à 0.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('closeValue')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
