<div>
  <h2 id="page-heading" data-cy="BudgetItemPeriodHeading">
    <span jhiTranslate="myaccount3App.budgetItemPeriod.home.title">BudgetItemPeriods</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myaccount3App.budgetItemPeriod.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-budget-item-period"
        [routerLink]="['/budget-item-period/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="myaccount3App.budgetItemPeriod.home.createLabel"
          >Créer un nouveau Budget Item Period</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="myaccount3App.budgetItemPeriod.home.search"
          >Recherche pour Budget Item Period</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'myaccount3App.budgetItemPeriod.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (budgetItemPeriods?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="myaccount3App.budgetItemPeriod.home.notFound">Aucun Budget Item Period trouvé</span>
    </div>
  }

  @if (budgetItemPeriods && budgetItemPeriods.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="date">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.budgetItemPeriod.date">Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="month">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.budgetItemPeriod.month">Month</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.budgetItemPeriod.amount">Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isSmoothed">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.budgetItemPeriod.isSmoothed">Is Smoothed</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isRecurrent">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.budgetItemPeriod.isRecurrent">Is Recurrent</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="operation.id">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.budgetItemPeriod.operation">Operation</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="budgetItem.id">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.budgetItemPeriod.budgetItem">Budget Item</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (budgetItemPeriod of budgetItemPeriods; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/budget-item-period', budgetItemPeriod.id, 'view']">{{ budgetItemPeriod.id }}</a>
              </td>
              <td>{{ budgetItemPeriod.date | formatMediumDate }}</td>
              <td>{{ budgetItemPeriod.month | formatMediumDate }}</td>
              <td>{{ budgetItemPeriod.amount }}</td>
              <td>{{ budgetItemPeriod.isSmoothed }}</td>
              <td>{{ budgetItemPeriod.isRecurrent }}</td>
              <td>
                @if (budgetItemPeriod.operation) {
                  <div>
                    <a [routerLink]="['/operation', budgetItemPeriod.operation.id, 'view']">{{ budgetItemPeriod.operation.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (budgetItemPeriod.budgetItem) {
                  <div>
                    <a [routerLink]="['/budget-item', budgetItemPeriod.budgetItem.id, 'view']">{{ budgetItemPeriod.budgetItem.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/budget-item-period', budgetItemPeriod.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/budget-item-period', budgetItemPeriod.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(budgetItemPeriod)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
