<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (budgetItem) {
      <div>
        <h2 data-cy="budgetItemDetailsHeading"><span jhiTranslate="myaccount3App.budgetItem.detail.title">Budget Item</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ budgetItem.id }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.budgetItem.name">Name</span></dt>
          <dd>
            <span>{{ budgetItem.name }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.budgetItem.order">Order</span></dt>
          <dd>
            <span>{{ budgetItem.order }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.budgetItem.category">Category</span></dt>
          <dd>
            @if (budgetItem.category) {
              <div>
                <a [routerLink]="['/category', budgetItem.category.id, 'view']">{{ budgetItem.category.categoryName }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="myaccount3App.budgetItem.account">Account</span></dt>
          <dd>
            @if (budgetItem.account) {
              <div>
                <a [routerLink]="['/application-user', budgetItem.account.id, 'view']">{{ budgetItem.account.nickName }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/budget-item', budgetItem.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
