<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (bankAccount) {
      <div>
        <h2 data-cy="bankAccountDetailsHeading"><span jhiTranslate="myaccount3App.bankAccount.detail.title">Bank Account</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ bankAccount.id }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.bankAccount.accountName">Account Name</span></dt>
          <dd>
            <span>{{ bankAccount.accountName }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.bankAccount.accountBank">Account Bank</span></dt>
          <dd>
            <span>{{ bankAccount.accountBank }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.bankAccount.initialAmount">Initial Amount</span></dt>
          <dd>
            <span>{{ bankAccount.initialAmount }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.bankAccount.archived">Archived</span></dt>
          <dd>
            <span>{{ bankAccount.archived }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.bankAccount.shortName">Short Name</span></dt>
          <dd>
            <span>{{ bankAccount.shortName }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.bankAccount.accountType">Account Type</span></dt>
          <dd>
            <span jhiTranslate="{{ 'myaccount3App.BankAccountType.' + bankAccount.accountType }}">{{ bankAccount.accountType }}</span>
          </dd>
          <dt><span jhiTranslate="myaccount3App.bankAccount.account">Account</span></dt>
          <dd>
            @if (bankAccount.account) {
              <div>
                <a [routerLink]="['/application-user', bankAccount.account.id, 'view']">{{ bankAccount.account.nickName }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/bank-account', bankAccount.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
