<div>
  <h2 id="page-heading" data-cy="BudgetItemHeading">
    <span jhiTranslate="myaccount3App.budgetItem.home.title">BudgetItems</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myaccount3App.budgetItem.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-budget-item"
        [routerLink]="['/budget-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="myaccount3App.budgetItem.home.createLabel">Créer un nouveau Budget Item</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="myaccount3App.budgetItem.home.search"
          >Recherche pour Budget Item</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'myaccount3App.budgetItem.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (budgetItems?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="myaccount3App.budgetItem.home.notFound">Aucun Budget Item trouvé</span>
    </div>
  }

  @if (budgetItems && budgetItems.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.budgetItem.name">Name</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="order">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.budgetItem.order">Order</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="category.categoryName">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.budgetItem.category">Category</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="account.nickName">
              <div class="d-flex">
                <span jhiTranslate="myaccount3App.budgetItem.account">Account</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (budgetItem of budgetItems; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/budget-item', budgetItem.id, 'view']">{{ budgetItem.id }}</a>
              </td>
              <td>{{ budgetItem.name }}</td>
              <td>{{ budgetItem.order }}</td>
              <td>
                @if (budgetItem.category) {
                  <div>
                    <a [routerLink]="['/category', budgetItem.category.id, 'view']">{{ budgetItem.category.categoryName }}</a>
                  </div>
                }
              </td>
              <td>
                @if (budgetItem.account) {
                  <div>
                    <a [routerLink]="['/application-user', budgetItem.account.id, 'view']">{{ budgetItem.account.nickName }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/budget-item', budgetItem.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/budget-item', budgetItem.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(budgetItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
